body {
  background-color: #ffffff;
}

h1 {
  width: 447px;
  padding: 338px 0 0 0; /* padding-top=altura imagem */
  overflow: hidden;
  background: url(../img/logo.png) no-repeat;
  height: 0 !important;
  height /**/:338px; /* height=altura imagem - hack IE5's */
}


#center * {
	margin: 10px auto;
}

