<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | dyn.js - (almost) 100% invokedynamic ecmascript implementation</title>
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="header">
      <ul id="menu">
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>
      </ul>
      <div id="twitter">
      </div>
    </div>
    {{ content }}
    <div id="footer">
    </div>
  </body>
</html>
